<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <title>Lendy</title>
</head>
<body>
    <header class="navbar">
        <a href="landingpage.html" class="navbtn">Home</a>
        <a href="#" class="navbtn">About</a>
        <a href="loginpage.html" class="navbtn">Login</a>
    </header>
    <main class="content">
        <p class="header">Track your loan status</p>
        <div class="search-cont">
            <input type="text" id="transac-search" class="search" placeholder="Enter transaction code">
            <button type="submit" class="go-btn">Go</button>
        </div>
    </main>
</body>
</html>