.box {
    width: 100%;
    height: max-content;
    overflow: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.box::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.box-card {
    
    background-color: white;
    margin: 2% auto;
}

.cus-delete-btn {
    height: 45px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100px;
    font-size: 1rem;
    background: #bd5151;
    cursor: pointer;
}