@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    display: flex;
    height: 10vh;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.6em;
    background-color: #046A38;
}
.navbar a {
    text-decoration: none;
    color: black;
}
.navbtn {
    padding-right: 20px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    margin: 3% 0 10px 0;
    font-size: 1.2em;
}
.search-cont {
    display: flex;
    gap: 10px;
}
.search {
  	font-size: 18px;
  	border-radius: 10px;
  	width: 20vw;
  	height: 5vh;
  	border: none;
  	background-color: transparent;
  	padding-left: 10px;
  	outline: 1px solid;
    outline-color: gray;
}
.search::-webkit-input-placeholder, .login::-webkit-input-placeholder {
    font-weight: lighter;
    color:#AFB2B3;
}
.search::-moz-placeholder, .login::-webkit-input-placeholder  {
    font-weight: lighter;
    color:#AFB2B3;
}
.search::-ms-input-placeholder, .login::-webkit-input-placeholder  {
    font-weight: lighter;
    color:#AFB2B3;
}
.go-btn {
    font-weight: bolder;
    font-size: 20px;
    background-color: #00A859;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
    display: block;
    border-radius: 20px;
}
.go-btn:hover, .login-btn:hover {
    background-color: #008547;
  }
.login-content {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 700px;
    border-radius: 10px;
    background-color: #AFB2B3;
}
.login-title {
    font-size: 50px;
    margin: 0 0 5px 0;
}
.login {
    font-size: 18px;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    border: none;
    background-color: white;
    padding-left: 10px;
    margin-top: 15px;
    outline: 1px solid;
    outline-color: gray;
}
.login-btn {
    font-weight: bolder;
    font-size: 18px;
    background-color: #00A859;
    color: white;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 150px;
    display: block;
    border-radius: 20px;
    margin-top: 15px;
}
/* .remember {
    display: flex;
    justify-content: flex-start !important;
}
.form-check-input {
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}
.form-check-label {
    margin-bottom: 0;
} */
.invalid-feedback {
    text-align: center;
    width: 100%;
    font-size: 80%;
    color: #dc3545;
    margin-top: 5px;
}