{% extends "employeelayout.html" %}
{% block nav_items %}
    <div onclick="location.href='employees';" class="nav-item" style="background-color: #263d47;">
        <a href="employees" class="nav-title">Employees</a>
    </div>
    <!-- <div onclick="location.href='registration';" class="nav-item">
        <a href="registration" class="nav-title">Register</a>
    </div> -->
{% endblock nav_items %}
{% block content %}
    <header class="content-header">
        <p class="employee-title">Employees</p>
        <div class="add-profile-btn" id="add-profile-btn">
            <a class="btn-light">Add Employee</a>
        </div> 
    </header>

    <main>
        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>
        <a href="{{ url_for('logout') }}">amongus</a>
    </main>

    <div id="add-profile-modal" class="modal">

        <!-- Modal content -->
        <div class="modal-card">

            <!-- Modal header -->
            <div class="modal-header">
                <p>Add Employee</p>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <form id='registerEmployee' action="" method="POST" enctype="multipart/form-data">
                    {{ register_form.hidden_tag() }}
                    <div class="modal-content-divider">
                        <h4>Employee Information</h4>

                        <!-- First name, avatar forms -->
                        <div class="form-group-row">
                            <div class="form-group-s">
                                {{ register_form.Fname.label() }}
                                {{ register_form.Fname() }}
                            </div>
                            <div class="form-group-s">
                                {{ register_form.age.label() }}
                                {{ register_form.age() }}
                            </div>
                        </div>

                        <!-- Middle name, last name forms -->
                        <div class="form-group-row">
                            <div class="form-group-s">
                                {{ register_form.Mname.label() }}
                                {{ register_form.Mname() }}
                            </div>
                            <div class="form-group-s">
                                {{ register_form.Lname.label() }}
                                {{ register_form.Lname() }}
                            </div>
                        </div>

                        <!-- DOB and gender forms -->
                        <div class="form-group-row">
                            <div class="form-group-s">
                                {{ register_form.dateofbirth.label() }}
                                {{ register_form.dateofbirth() }}
                            </div>
                            <div class="form-group-s">
                                {{ register_form.gender.label() }}
                                {{ register_form.gender() }}
                            </div>
                        </div>

                        <!-- Address form -->
                        <div class="form-group">
                            {{ register_form.address.label() }}
                            {{ register_form.address() }}
                        </div>

                        <!-- Civil stat, nationality, contact num forms -->
                        <div class="form-group-row">
                            <div class="form-group-s">
                                {{ register_form.email.label() }}
                                {{ register_form.email() }}
                            </div>
                            <div class="form-group-s">
                                {{ register_form.contact_num.label() }}
                                {{ register_form.contact_num() }}
                            </div>
                        </div>
                    </div>

                    
                    <hr size="1" noshade style="color:rgba(0, 0, 0, 0.2)">
                    <div class="modal-content-divider">
                        <h4>Employee Account Username and Password</h4>

                        <!-- Job title, company forms -->
                        <div class="form-group">
                            {{ register_form.username.label() }}
                            {{ register_form.username() }}
                            <div id="msg">{{ msg }}</div>
                        </div>

                        <!-- Comp address form -->
                        <div class="form-group">
                            {{ register_form.password.label() }}
                            {{ register_form.password() }}
                            <!-- {% if register_form.password.errors %}
                                {{ register_form.password(class="is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in register_form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ register_form.password() }}
                            {% endif %} -->
                        </div>

                        <!-- Employment yr, annual salary forms -->
                        <div class="form-group">
                            {{ register_form.confirm_password.label() }}
                            {{ register_form.confirm_password() }}
                            <p id="error-text" class="invalid-feedback">Password not the same.</p>
                            <!-- {% if register_form.confirm_password.errors %}
                                {{ register_form.confirm_password(class="is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in register_form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ register_form.confirm_password() }}
                            {% endif %} -->
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <!-- Modal action buttons -->
                <button type="reset" id="close-modal" class="btn-secondary" form="">Cancel</button>
                {{ register_form.submit(form="registerEmployee", class="btn-primary") }}
            </div>
        </div>
    </div>

{% endblock content %}