{% extends "employeelayout.html" %}
{% block nav_items %}
    <div onclick="location.href='/employees';" class="nav-item" style="background-color: #263d47;">
        <a href="/employees" class="nav-title">Employees</a>
    </div>
    <!-- <div onclick="location.href='registration';" class="nav-item">
        <a href="registration" class="nav-title">Register</a>
    </div> -->
{% endblock nav_items %}
{% block content %}
    <header class="content-header">
        <div class="alert-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="page-title">
            <p class="employee-title">Employees</p>
            <div class="add-profile-btn" id="add-profile-btn">
                <a class="btn-light">Add Employee</a>
            </div>
        </div>
        <div class="table-titles">
            <table class="data-title">
                <tr>
                    <th class="ID">ID</th>
                    <th class="name">Name</th>
                    <th class="role">Role</th>
                    <th class="username">Username</th>
                    <th class="contact">Contact No.</th>
                    <th class="actions">Actions</th>
                </tr>
            </table>
        </div>
    </header>

    <main class="content-main">
        <table class="data-table">
            {% for item in data %}
            <tr>
                <td class="ID">{{item.lenderID}}</td>
                <td class="name">{{item.name}}</td>
                <td class="role">{{item.role_name}}</td>
                <td class="username">{{item.username}}</td>
                <td class="contact">{{item.contact_num}}</td>
                <td class="actions">
                    <div class="action">
                        <button id="update-btn" class="update-btn-s" onclick="location.href='/employees/{{item.lenderID}}';">Update</button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>

    <div id="add-profile-modal" class="modal">

        <!-- Modal content -->
        <div class="modal-card">

            <!-- Modal header -->
            <div class="modal-header">
                <p>Add Employee</p>
            </div>
            
            <!-- Modal body  onsubmit="submit.disabled = true; return true;"-->
            <div class="modal-body">
                <form id='registerEmployee' action="" method="POST" enctype="multipart/form-data">
                    {{ register_form.hidden_tag() }}
                    <div class="modal-content-divider">
                        <h4>Employee Information</h4>

                        <!-- First name, avatar forms -->
                        <div class="form-group-row">
                            <div class="form-group-s">
                                {{ register_form.Fname.label() }}
                                {{ register_form.Fname() }}
                            </div>
                            <div class="form-group-s">
                                {{ register_form.age.label() }}
                                {{ register_form.age() }}
                            </div>
                        </div>

                        <!-- Middle name, last name forms -->
                        <div class="form-group-row">
                            <div class="form-group-s">
                                {{ register_form.Mname.label() }}
                                {{ register_form.Mname() }}
                            </div>
                            <div class="form-group-s">
                                {{ register_form.Lname.label() }}
                                {{ register_form.Lname() }}
                            </div>
                        </div>

                        <div class="form-group-row">
                            <div class="form-group-xs">
                                {{ register_form.dateofbirth.label() }}
                                {{ register_form.dateofbirth() }}
                            </div>
                            <div class="form-group-xs input">
                                {{ register_form.role.label() }}
                                {{ register_form.role() }}
                            </div>
                            <div class="form-group-xs">
                                {{ register_form.gender.label() }}
                                {{ register_form.gender() }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ register_form.address.label() }}
                            {{ register_form.address() }}
                        </div>

                        <div class="form-group-row">
                            <div class="form-group-s">
                                {{ register_form.email.label() }}
                                {{ register_form.email() }}
                            </div>
                            <div class="form-group-s">
                                {{ register_form.contact_num.label() }}
                                {{ register_form.contact_num() }}
                            </div>
                        </div>
                    </div>

                    
                    <hr size="1" noshade style="color:rgba(0, 0, 0, 0.2)">
                    <div class="modal-content-divider">
                        <h4>Employee Account Username and Password</h4>

                        <div class="form-group">
                            {{ register_form.username.label() }}
                            {{ register_form.username() }}
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div id="alert-mess" class="alert alert-{{ category }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>

                        <div class="form-group">
                            {{ register_form.password.label() }}
                            {{ register_form.password() }}
                        </div>

                        <div class="form-group">
                            {{ register_form.confirm_password.label() }}
                            {{ register_form.confirm_password() }}
                            <p id="error-text" class="invalid-feedback">Password not the same.</p>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">

                <button type="reset" id="close-modal" class="btn-secondary" form="">Cancel</button>
                {{ register_form.submit(form="registerEmployee", class="btn-primary") }}
            </div>
        </div>
    </div>

{% endblock content %}