{% include "header.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/global.css') }}">
    <title>Lendy</title>

{% block body %}
   
    <main class="content">
        <p class="header">Track your loan status</p>
        <div class="search-cont">
            <input type="text" id="transac-search" class="search" placeholder="Enter transaction code">
            <button type="submit" class="go-btn">Go</button>
        </div>
    </main>
{% endblock %}
