{% extends "employeelayout.html" %}
{% block nav_items %}
    <div onclick="location.href='employees';" class="nav-item">
        <a href="employees" class="nav-title">Employees</a>
    </div>
    <div onclick="location.href='registration';" class="nav-item" style="background-color: #263d47;">
        <a href="registration" class="nav-title">Register</a>
    </div>
{% endblock nav_items %}
{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-test">
                {{ form.Fname.label() }}
                {{ form.Fname() }}

                {{ form.Mname.label() }}
                {{ form.Mname() }}

                {{ form.Lname.label() }}
                {{ form.Lname() }}

                {{ form.email.label() }}
                {{ form.email() }}

                {{ form.gender.label() }}
                {{ form.gender() }}

                {{ form.contact_num.label() }}
                {{ form.contact_num() }}

                {{ form.address.label() }}
                {{ form.address() }}

                {{ form.username.label() }}
                {{ form.username() }}

                {{ form.password.label() }}
                {{ form.password() }}

                {{ form.confirm_password.label() }}
                {{ form.confirm_password() }}

                {{ form.submit() }}
            </fieldset>
        </form>
    </div>
{% endblock content %}